.form {

    

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    

    

    &__group {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-width: 50rem;
        

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        label {
            width: 30%;
            font-size: 1.5rem;
            
        }

        input {
            display: block;
            font-size: 1.5rem;
            padding: 0.75rem 1rem;
            border-radius: 5px;
            background-color: rgba($color-white, .5);
            border: 1px solid $color-black;
            font-family: inherit;
            

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border: 1.5px solid $color-primary-light;
            }
        }

        .error {
            position: absolute;
            border: 1px solid red;
            padding: .5rem;
            font-size: 1.4rem;
            border-radius: 5px;
            margin-top: 2rem;
            background-color: rgba($color-white, .5);
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 50rem;
            margin-bottom: 2rem;
            

            &--button {
                color: $color-black;
                padding: 1rem 2rem;
                background-color: rgba($color-white, .1);
                border-radius: 5px;
                border: 2px solid $color-grey-dark;
                font-size: 1.5rem;
                transition: all .1s;
                font-family: inherit;
                &:hover {
                    cursor: pointer;
                    border: 2px solid $color-primary;
                    transform: translateY(-1px);
                    background-color: rgba($color-grey-light-2, .2);
                    box-shadow: 0 1rem 2rem rgba($color-black,.2);
                    
                }

                &:disabled {
                    cursor: not-allowed;
                }

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
                    transform: translateY(1px);
                    border: 2px solid $color-primary;
                }
            }
        }
    }
}



.back {

    &__font {
        position: absolute;
    
        background-color: rgba($color-tertiary-dark, .87);
        transform: skew(-10deg);
        
        width: 50rem;
        height: 40%;
        z-index: -1;
    }

    &__image {
        position: absolute;
        background-image: url("chicago3.jpg");
        background-size: cover;
        background-position: center;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
    }
    
}

.stats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 50rem;
    max-width: 50%;
    margin: auto;

    &__container {
        p {
            font-size: 1.2rem;
            margin: 1rem 2rem;
        }
        p:last-child {
            margin-bottom: 2rem;
        }
    }

    &__info {
        color: rgb(0, 134, 56);
        font-size: 1.5rem;
    }

    
}

.link__group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50rem;

    &--link {

        text-decoration: none;
        color: $color-black;
        padding: 1rem 2rem;
        background-color: rgba($color-white, .1);
        border-radius: 5px;
        border: 2px solid $color-grey-dark;
        font-size: 1.5rem;
        transition: all .1s;

        &:hover {
            cursor: pointer;
            border: 2px solid $color-primary;
            transform: translateY(-1px);
            background-color: rgba($color-grey-light-2, .2);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            
        }

        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
            transform: translateY(1px);
        }
    }
}


.head__primary {
    margin-bottom: 2rem;
}


.root {
    height: inherit;
    position: relative;

}

.navigation {
    font-size: 1.6rem;
    background-color: rgba($color-tertiary-dark, 1);
    // width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: relative;


    &__welcome {
        margin-left: 3rem;
    }

    &__cog {
        color: $color-primary-dark;
        font-size: 1.4rem;
        margin-left: auto;
        

        &--cog {
            transition: all .3s linear;

            &:hover {
                transform: rotateZ(45deg);
            }
        }




        &:hover {
            cursor: pointer;
            
        }

        &__links {
            position: absolute;
            top: calc(28px + 2rem);
            right: 0;
            display: flex;
            flex-direction: column;
            
            border-top: 1px solid $color-primary-dark;

            &--button {
                border: none;
                padding: 1.2rem;
                font: inherit;
                background-color: rgba($color-tertiary-dark, 1);
                
                border-bottom: 1px solid $color-primary-dark;
                

                &:hover {
                    color: $color-primary-dark;
                    cursor: pointer;
                    
                }

                &:active,
                &:focus {
                    
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }
}


.updateform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 40%;
    max-width: 50rem;
    margin: auto;
    margin-top: 10rem;
    &::before {
        content: "";
        background-color: rgba($color-tertiary-dark, .87);
        transform: skew(-10deg);
        width: 130%;
        height: 110%;
        left: -15%;
        position: absolute;
        z-index: -1;
    }
    
    &__group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        &__buttons {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            
            .error {
                border: 1px solid red;
                padding: .5rem;
                font-size: 1.4rem;
                border-radius: 5px;
                margin-left: auto;
                margin-right: 5rem;
                background-color: rgba($color-white, .5);
            }

            &--button {
                color: $color-black;
                padding: 1rem 2rem;
                background-color: rgba($color-white, .1);
                border-radius: 5px;
                border: 2px solid $color-grey-dark;
                font-size: 1.5rem;
                transition: all .1s;
                font-family: inherit;
                &:hover {
                    cursor: pointer;
                    border: 2px solid $color-primary;
                    transform: translateY(-1px);
                    background-color: rgba($color-grey-light-2, .2);
                    box-shadow: 0 1rem 2rem rgba($color-black,.2);
                    
                }

                &:active {
                    cursor: not-allowed;
                }

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
                    transform: translateY(1px);
                    border: 2px solid $color-primary;
                }
            }
        }

        label {
            width: 30%;
            font-size: 1.5rem;
            
        }

        input {
            display: block;
            font-size: 1.5rem;
            padding: 0.75rem 1rem;
            border-radius: 5px;
            background-color: rgba($color-white, .5);
            border: 1px solid $color-black;
            font-family: inherit;
            

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border: 1.5px solid $color-primary-light;
            }
        }
    }
}


.sidebar {

    width: 20rem;
    height: calc(100% - 28px - 2rem);
    background-color: rgba($color-tertiary-dark, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: calc(28px + 2rem);
    &__item-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        justify-content: flex-start;
        

        &--item {
            padding: 2rem;
            font-size: 1.4rem;
            list-style: none;

            &--active {
                background-color: $color-primary-light;
            }


            &:first-child {
                margin-top: 5rem;
                
            }

            &:hover {
                cursor: pointer;
                background-color: $color-primary-light;
            }
        }
    }
}




